@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 0.93em;
    font-family: 'poppins';
    height: 100vh;
    margin: auto;
    background-color: hsl(0, 0%, 98%);
    color: hsl(229, 6%, 66%);
    overflow: hidden;
}
.container{
    margin: auto;
    width: 70rem;
    height: 50rem;
    display: grid;
    grid-template-columns: auto auto auto;
    place-items: center;
    place-content: center;
    grid-template-areas: "header header header"
                         "sup team calc"
                         "sup karma calc";
}
.header{
    width: 28rem;
    grid-area: header;
    height: 10rem;
    top: 8rem;
    text-align: center;
}
.header span{
    font-size: 2em;
    font-weight: 200;
}
.header p{
    width: 29rem;
    padding-top: 1rem;
}
.supervisor, .team_builder, .calculator, .karma{
    width: 20rem;
    height: 12rem;
    place-items: center;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: white;
    box-shadow: 0px 10px 21px -1px rgba(137, 143, 186, 0.75);
}
.supervisor{
    margin-top: 4rem;
    margin-right: 2rem;
    grid-area: sup;
    border-top: 0.25rem solid hsl(180, 62%, 55%);
}
.team_builder{
    margin-top: 4rem;
    grid-area: team;
    border-top: 0.25rem solid hsl(0, 78%, 62%) ;
}
.calculator{
    margin-top: 4rem;
    margin-left: 2rem;
    grid-area: calc;
    border-top: 0.25rem solid hsl(212, 86%, 64%);
}
.karma{
    margin-top: 2rem;
    grid-area: karma;
    border-top: 0.25rem solid hsl(34, 97%, 64%);
}
.title_card{
    font-size: 1.5em;
}
.dark_blue{
    color: hsl(234, 12%, 34%);
    font-weight: 700;
}
.img_card{
    float: right;
    padding-top: 1rem;
   width: 3rem; 
}
@media screen and (max-width:1130px) {
    .container{
        width: 60rem;
        height: 50rem;
    }
    .supervisor{
        margin-right: 0.1rem;
    }
    .calculator{
        margin-left: 0.1rem;
    }
    .supervisor, .team_builder, .calculator, .karma{
        width: 20rem;
        height: 13rem;
    }
    .img_card{
        padding-top: 1rem;
    }
}
@media screen and (max-width:950px) {
    .container{
        width: 50rem;
        height: 50rem;
    }
    .supervisor{
        margin-right: 0.1rem;
    }
    .calculator{
        margin-left: 0.1rem;
    }
    .supervisor, .team_builder, .calculator, .karma{
        width: 16.5rem;
        height: 13.5rem;
    }
    .img_card{
        padding-top: 0.5rem;
    }
}
@media screen and (max-width: 800px) {
    .container{
        width: 40rem;
        height: 50rem;
    }
    .supervisor{
        margin-right: 0.1rem;
    }
    .calculator{
        margin-left: 0.1rem;
    }
    .supervisor, .team_builder, .calculator, .karma{
        width: 15rem;
        height: 15rem;
    }
    .img_card{
        padding-top: 1rem;
    }
}
@media screen and (max-width: 750px) {
    .container{
        margin-top: 4vh;
        width: 21rem;
        height: 85rem;
        grid-template-rows: 20% 20% 20% 20% 20%;
        place-items: start;
        place-content: start;
        grid-template-areas: "header"
                              "sup"
                              "team"
                              "karma"
                              "calc";
    }
    .header{
        width: 21rem;
        height: 18rem;
        grid-area: header;
        position: absolute;
        top: 8rem;
        text-align: center;
    
    }
    .header h1{
        font-size: 1.7em;
    }
    .header span{
        width: 21rem;
        font-size: 1.7em;
    }
    .header p{
        width: 21rem;
        padding-top: 1rem;
    }
    .supervisor, .team_builder, .calculator, .karma{
        width: 21rem;
        height: 15rem;
        place-items: center;
        padding: 2rem;
        border-radius: 0.5rem;
        background-color: white;
        box-shadow: 0px 10px 21px -1px rgba(137, 143, 186, 0.75);
    }
        
    .supervisor{
        margin-top: 0;
        margin-right: 0;
        grid-area: sup;
        border-top: 0.25rem solid hsl(180, 62%, 55%);
    }
    .team_builder{
        margin-top: 0;
        grid-area: team;
        border-top: 0.25rem solid hsl(0, 78%, 62%) ;
    }
    .calculator{
        margin-top: 0;
        margin-left: 0;
        grid-area: calc;
        border-top: 0.25rem solid hsl(212, 86%, 64%);
    }
    .karma{
        margin-top: 0;
        grid-area: karma;
        border-top: 0.25rem solid hsl(34, 97%, 64%);
    }

    .img_card{
        padding-top: 2.5rem;
    }
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }